@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}
:root {
    --primary-color: #c7493a;
    --accent-color: #c7493a;
    --dark: #161616;
    --light: white;
    --normal-text: white;
}
body{
    width: 100%;
    height: 1000px;
    background-color: var(--dark);
    /*background-image: url('/Resources/background_image.jpg');
    background-size: cover;
    background-position: center;*/
}

/* HERO*/
.hero{
    height: 80vh;/*60px is the size of the navbar*/
    width: 100%;
    background-image: url('Resources/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.eye_container{
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    margin-top: 5vw;
}
.eye_gif_left,.eye_gif_right{
    width: 20vw;
    min-width: 130px;
    max-height: 90%;
    margin: auto;
    object-fit: contain;
    transition: transform .7s ease-in-out;
}
.eye_gif_left:hover{
    transform: rotate(10deg);
}
.eye_gif_right:hover{
    transform: rotate(-10deg);
}
.hero_message{
    padding: 2vh;
    font-size: max(1.5rem,4vw);
    font-weight: bold;
    color: var(--light);
    margin-inline: auto;
}
/* Paragraph */
.section_container{
    margin-inline: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
}
.div_line{
    width: 100%;
    margin-block: 5vh;
    height: .5vh;
    background-color: var(--accent-color);
}
.title_text{
    font-size: max(1.2rem,2vw);
    color: var(--light);
}
.title_text:hover{
    animation: shake 0.5s;
}
.paragraph_text{
    font-size: max(0.7rem,1.5vw);
    color: var(--light);
}
.image_in_container{
    width: 50%;  
    padding: 5%;
    transition-duration: .2s;
}
.image_in_container:hover{
    transform: scale(.8);
}
.left_image_text_container,.right_image_text_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%
}

/* RESPONSIVE DESIGN */
/* TABLET*/
@media (max-width: 1024px){

}
/*Phone*/
@media(max-width: 480px){

    .left_image_text_container{
        flex-direction: column;
    }
    .right_image_text_container{
        flex-direction: column-reverse;
    }
    .image_in_container{
        width: 90%;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }